<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sld.projetofatooufake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoFF"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ExcluirUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".FakeNewsActivity"
            android:exported="false" />
        <activity
            android:name=".PrevencaoActivity"
            android:exported="false" />
        <activity
            android:name=".SintomaActivity"
            android:exported="false" />
        <activity
            android:name=".ProtecaoActivity"
            android:exported="false" />
        <activity
            android:name=".TransmissaoActivity"
            android:exported="false" />
        <activity
            android:name=".Covid19Activity"
            android:exported="false" />
        <activity
            android:name=".QuizTotalActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".LoginCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>